<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>age</key>
		<string>1 month</string>
		<key>milestones</key>
		<array>
			<dict>
				<key>key</key>
				<string>1</string>
				<key>text</key>
				<string>Slightly elevates and turns head, while on belly.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>2</string>
				<key>text</key>
				<string>Reciprocal and symmetrical kicking, while on back.  </string>
			</dict>
			<dict>
				<key>key</key>
				<string>3</string>
				<key>text</key>
				<string>Opens and closes hands.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>age</key>
		<string>2 -3 months</string>
		<key>milestones</key>
		<array>
			<dict>
				<key>key</key>
				<string>4</string>
				<key>text</key>
				<string>Lifts head to 90 degrees briefly when on tummy. </string>
			</dict>
			<dict>
				<key>key</key>
				<string>5</string>
				<key>text</key>
				<string>Lifts chest up when on tummy. </string>
			</dict>
			<dict>
				<key>key</key>
				<string>6</string>
				<key>text</key>
				<string>Minimal head lag with pull-to-sit.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>7</string>
				<key>text</key>
				<string>Propped sitting with support. (head upright, but bobbing)</string>
			</dict>
			<dict>
				<key>key</key>
				<string>8</string>
				<key>text</key>
				<string>Reaches and grasps with hand-eye-coordination.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>age</key>
		<string>4 - 5 months</string>
		<key>milestones</key>
		<array>
			<dict>
				<key>key</key>
				<string>9</string>
				<key>text</key>
				<string>Lies on tummy with arms straightened.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>10</string>
				<key>text</key>
				<string>Pivots on tummy to reach toys.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>11</string>
				<key>text</key>
				<string>Rolls from back to side.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>12</string>
				<key>text</key>
				<string>Plays with feet to mouth.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>13</string>
				<key>text</key>
				<string>Head steady when sitting wth support.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>14</string>
				<key>text</key>
				<string>Turns head in sitting.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>15</string>
				<key>text</key>
				<string>Sits alone for periods.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>age</key>
		<string>6 - 7 months</string>
		<key>milestones</key>
		<array>
			<dict>
				<key>key</key>
				<string>16</string>
				<key>text</key>
				<string>Rolls from back to tummy.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>17</string>
				<key>text</key>
				<string>Sits independently.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>18</string>
				<key>text</key>
				<string>Stands holding on when placed</string>
			</dict>
			<dict>
				<key>key</key>
				<string>19</string>
				<key>text</key>
				<string>May crawl backwards.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>age</key>
		<string>8 - 9 months</string>
		<key>milestones</key>
		<array>
			<dict>
				<key>key</key>
				<string>20</string>
				<key>text</key>
				<string>Gets into hands-and-knees position.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>21</string>
				<key>text</key>
				<string>Transitions in and out of sitting. </string>
			</dict>
			<dict>
				<key>key</key>
				<string>22</string>
				<key>text</key>
				<string>Pivots in sitting.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>23</string>
				<key>text</key>
				<string>Pulls to stand at support. </string>
			</dict>
			<dict>
				<key>key</key>
				<string>24</string>
				<key>text</key>
				<string>Crawls/creeps forward.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>25</string>
				<key>text</key>
				<string>Anterior/lateral protective reactions present with backward emerging.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>age</key>
		<string>10 - 11 months</string>
		<key>milestones</key>
		<array>
			<dict>
				<key>key</key>
				<string>26</string>
				<key>text</key>
				<string>Stands without support briefly.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>27</string>
				<key>text</key>
				<string>Picks up obects from floor to standing position.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>28</string>
				<key>text</key>
				<string>Walks with one or both hands held.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>29</string>
				<key>text</key>
				<string>Creeps on hands and feet (bear walk).</string>
			</dict>
			<dict>
				<key>key</key>
				<string>30</string>
				<key>text</key>
				<string>Sidesteps or cruises with support.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>age</key>
		<string>12 months</string>
		<key>milestones</key>
		<array>
			<dict>
				<key>key</key>
				<string>31</string>
				<key>text</key>
				<string>Independent walking with high hand guard and wide base of support.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>32</string>
				<key>text</key>
				<string>Fast walking.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>33</string>
				<key>text</key>
				<string>Walks backwards.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>34</string>
				<key>text</key>
				<string>Walks sideways.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>35</string>
				<key>text</key>
				<string>Throws a ball in sitting. </string>
			</dict>
			<dict>
				<key>key</key>
				<string>36</string>
				<key>text</key>
				<string>Moves rapidly from sitting or quadruped to standing.</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
